    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Kuwelisa</div><br>
                <a href="#services" class="page-scroll btn btn-xl">Log In</a><br><br>
                <a href="#contact" class="page-scroll btn btn-xl">Learn About Our Mission</a><br><br>
                <a href="sign_up" class="page-scroll btn btn-xl">Sign Up</a>

            </div>
        </div>
    </header>

     <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Log In</h2>
                </div>
            </div>
              <div class="row", align='center'>

            <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal' }) do |f| %>
                <%= devise_error_messages! %>

                <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10">
        
                <div class="field">
                  <%= f.input :phone, placeholder: "Phone number" %><br />
                </div>

                <div class="field">
                  <%= f.input :password, placeholder: "Password" %><br />
                </div>

                <% if devise_mapping.rememberable? -%>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                <% end -%>

                <div class="actions">
                  <%= f.button :submit, "Log in" %>
                </div>
            <% end %>

          <%= render "devise/shared/links" %>

       
      </div>
            </div>
        </div>
    </section>


    <!-- Services Section -->
   <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Mission</h2>
                    
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-exclamation-triangle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">The Problem</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">The Solution</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">How It Works</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
   
  








                