<br><br><br>



<div class = "container">
<h2>My Rides:</h2>


	<% if current_user.rides.empty? %>
	<strong> You have no rides yet :( </strong>
	<% else %>
	<p>
	<% current_user.rides.order(:datetime).where(:datetime => Time.zone.now..1.year.from_now).order(:datetime).each do |ride| %>
	 
	<div class = "row" >
	<div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
		From: <strong><%= ride.startloc %></strong> to <strong><%= ride.finishloc %></strong> <br>
		At: <strong><%= ride.datetime %> </strong>
	</div>

	<% if ride.driverid == current_user.id %>
	<b>
	<div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 text-right">	
		<%= link_to '<i class="fa fa-trash-o fa-4x"></i>'.html_safe + " Delete", ride, :method => :delete, data: {confirm: "Are you sure you want to delete this ride?"} %>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-right">
		<%= link_to '<i class="fa fa-pencil-square-o fa-4x"></i>'.html_safe + " Edit", edit_ride_path(ride), :method => :get %>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-right">
	<% else %>
		<div class="col-sm-offset-5 col-sm-2  col-xs-offset-8 col-xs-4 col-lg-6 col-md-offset-0 col-md-6 col-lg-offset-0 text-right">
	<% end %>
		<%= link_to '<i class="fa fa-arrow-circle-right fa-4x"></i>'.html_safe + " More Info", ride_path(ride) %>
		</div>
	</div>
	<hr>
	
	
	<% end %>
	</div>
	</p>
	<%end %>
</div>






<div class = "container"> 
<h2>All Rides:</h2>


	<% if @rides.empty? %>
	<strong> No Rides yet :( </strong>
	<% else %>
	<% @rides.each do |ride| %>
	<p>
	
	<div class = "row" >
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		From: <strong><%= ride.startloc %></strong> to <strong><%= ride.finishloc %></strong> <br>
		At: <strong><%= ride.datetime.strftime("%I:%M %p") %> </strong>
		On: <strong><%= ride.datetime.strftime("%B %d, %Y") %> </strong>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 text-left">
		<m><%= ride.pcount %></m> Seats Left<br>
		</div>
		
		<% if ride.users.include?(current_user) %>
		<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 text-center">
			<%= link_to '<i class="fa fa-check-circle-o fa-4x"></i>'.html_safe, ride_path(ride) %>  <br>
			 You're Signed Up! 
		</div>
		<% else %>
		<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 text-center">
			<%= simple_form_for :signup, { url: signup_ride_path(ride) } do |f| %>
  				<%= f.input :count, label: "Number of Passengers", collection: 1..ride.pcount %>
  				<%= f.button :submit, "Sign Up" %>
  			<% end %>
  		</div>

  		
            
                
		<% end %>
		
		<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 text-right">
		<%= link_to '<i class="fa fa-arrow-circle-right fa-4x"></i>'.html_safe + 'More Info', ride_path(ride) %>
		</div>
			
	</div>
	<hr>
	
	
	
	<% end %>
	</div>
	</p>
	<% end %>


