<h1>Rides</h1>
<h2>My Rides</h2>

	<% if current_user.rides.empty? %>
	<strong> You have no rides yet :( </strong>
	<% else %>
	<p>
	<% current_user.rides.each do |ride| %>
		<%= ride.startloc %> <br>
		<%= ride.finishloc %> <br>
		 <%= ride.price %> <br>
		<%= ride.datetime %> <br>
		<%= ride.duration %> <br>
	<% end %>
	</p>
	<%end %>



<h2>All Rides</h2>

	<% if @rides.empty? %>
	<strong> No Rides yet :( </strong>
	<% else %>
	<% @rides.each do |ride| %>
	<p>
		<%= ride.startloc %> <br>
		<%= ride.finishloc %> <br>
		R <%= ride.price %> <br>
		<%= ride.datetime %> <br>
		<%= ride.duration %> <br>
	</p>
	<% end %>
	<% end %>
