<h1>Rides</h1>
<h2>My Rides</h2>

	<% if current_user.rides.empty? %>
	<strong> You have no rides yet :( </strong>
	<% else %>
	<p>
	<% current_user.rides.order(:datetime).each do |ride| %>
		<%= ride.startloc %> <br>
		<%= ride.finishloc %> <br>
		Passenger seats:<%= ride.pcount %><br>
		 <%= ride.price %> <br>
		<%= ride.datetime %> <br>
		<%= ride.duration %> <br>
	<% end %>
	</p>
	<%end %>



<h2>All Rides</h2>

	<% if @rides.empty? %>
	<strong> No Rides yet :( </strong>
	<% else %>
	<% @rides.each do |ride| %>
	<p>
		<%= ride.startloc %> <br>
		<%= ride.finishloc %> <br>
		R <%= ride.price %> <br>
		<%= ride.datetime %> <br>
		<%= ride.duration %> <br>
		Remaining seats:<%= ride.pcount %><br>
		<% if ride.users.include?(current_user) %>
			You've already signed up for this ride!
		<% else %>
			<%= form_tag signup_ride_path(ride) do %>
  			<%= text_field_tag "count", "1" %>
  			<%= submit_tag "Sign Up" %>
  			<% end %>
		<% end %>
		<%= link_to 'More Info', ride_path(ride) %>
	</p>
	<% end %>
	<% end %>
