<br><br>
<div class = "row">
<h2 align='center'>Your Ride from <b><%=@ride.startloc %></b> to <b><%= @ride.finishloc %></b></h2><br>
	
		<div class="col-lg-6 col-md-6" align='center'>
			<b>Departs from <strong><%=@ride.startloc %></strong><br>
			on <strong><%= @ride.datetime.strftime("%B %d, %Y") %></strong><br>
			at <strong><%= @ride.datetime.strftime("%I:%M %p") %></strong><br>
			Passenger seats remaining: <strong><%= @ride.pcount %></strong><br>
			R <strong><%= @ride.price %></strong> per person <br>
			</b>

			to <strong><%= @ride.finishloc %></strong> <br><br>

			<% if @ride.driverid == current_user.id %>
				<strong> You're driving! </strong><br>
				<b>Passenger Contact Information:<br>
					<% @ride.users.where.not(id: current_user.id).each do |user| %>
						Name: <%= user.firstname %> <%= user.lastname %><br>
							Phone number: <%= user.phone %><br><br><br><br></b>
					<% end %>

				<%= link_to '<i class="fa fa-trash-o fa-4x"></i>'.html_safe + " Delete", @ride, :method => :delete, data: {confirm: "Are you sure you want to delete this ride?"} %><br><br>
				<%= link_to '<i class="fa fa-pencil-square-o fa-4x"></i>'.html_safe + " Edit", edit_ride_path(@ride), :method => :get %>
		
			<% else %>
				<b>Driver Contact Information:<br>
					Name: <%= @driver.firstname %> <%= @driver.lastname %><br>
					Phone number: <%= @driver.phone %><br></b>
			<% end %>	
		</div>
		<div class="col-lg-6 col-md-6" align='center'>
		<div id='map'></div>
		</div>

	</div>
<!-- //
// -->
		
<script>
// L.mapbox.accessToken = 'pk.eyJ1Ijoib3NjYXJ3MyIsImEiOiIxZDQ4MTE2NGFlYWJjNTY1ODZhMWJmNzQ3OTUwZGE4MyJ9.tlyn20Cn-ecT9wwQYHtpzA';
// var map = L.mapbox.map('map', 'mapbox.streets')
//     .setView([40, -74.50], 9);

L.mapbox.accessToken = 'pk.eyJ1Ijoib3NjYXJ3MyIsImEiOiIxZDQ4MTE2NGFlYWJjNTY1ODZhMWJmNzQ3OTUwZGE4MyJ9.tlyn20Cn-ecT9wwQYHtpzA';
var map = L.mapbox.map('map', 'mapbox.streets')
    .setView([38, -102.0], 9);

    var fixedMarker1 = L.marker(new L.LatLng("<%=escape_javascript @ride.locations.first.latitude.to_s %>", "<%=escape_javascript @ride.locations.first.longitude.to_s %>"), {
    icon: L.mapbox.marker.icon({
        'marker-color': 'ff8888'
    })
}).bindPopup("<%=escape_javascript @ride.locations.first.address.to_s %>").addTo(map);

   var fixedMarker2 = L.marker(new L.LatLng("<%=escape_javascript @ride.locations.last.latitude.to_s %>", "<%=escape_javascript @ride.locations.last.longitude.to_s %>"), {
    icon: L.mapbox.marker.icon({
        'marker-color': 'ff8888'
    })
}).bindPopup("<%=escape_javascript @ride.locations.last.address.to_s %>").addTo(map);

   var group = new L.featureGroup([fixedMarker1, fixedMarker2]);

 	map.fitBounds(group.getBounds());

 	var directions = L.mapbox.directions();

var directionsLayer = L.mapbox.directions.layer(directions)
    .addTo(map);



</script>

</div>


		

