<div class = "row">
<h1 align='center'>Your Ride from <b><%=@ride.startloc %></b> to <b><%= @ride.finishloc %></b></h1><br>
	
		<div class="col-lg-6 col-md-6" align='center'>
			<b>Departs from <strong><%=@ride.startloc %></strong><br>
			on <strong><%= @ride.datetime.strftime("%B %d, %Y") %></strong><br>
			at <strong><%= @ride.datetime.strftime("%I:%M %p") %></strong><br>
			Passenger seats remaining: <strong><%= @ride.pcount %></strong><br>
			R <strong><%= @ride.price %></strong> per person <br>
			The trip will take approximately <strong><%= @ride.duration.strftime("%I hrs and %M mins") %></strong><br>
			</b>

			to <strong><%= @ride.finishloc %></strong> <br><br>

			<% if @ride.driverid == current_user.id %>
				<strong> You're driving! </strong><br>
				<b>Passenger Contact Information:<br>
					<% @ride.users.where.not(id: current_user.id).each do |user| %>
						Name: <%= user.firstname %> <%= user.lastname %><br>
							Phone number: <%= user.phone %><br><br><br><br></b>
					<% end %>

				<%= link_to '<i class="fa fa-trash-o fa-4x"></i>'.html_safe + " Delete", @ride, :method => :delete, data: {confirm: "Are you sure you want to delete this ride?"} %><br><br>
				<%= link_to '<i class="fa fa-pencil-square-o fa-4x"></i>'.html_safe + " Edit", edit_ride_path(@ride), :method => :get %>
		
			<% else %>
				<b>Driver Contact Information:<br>
					Name: <%= @driver.firstname %> <%= @driver.lastname %><br>
					Phone number: <%= @driver.phone %><br></b>
			<% end %>	
		</div>
		<div class="col-lg-6 col-md-6" align='center'>
		<div id='map'></div>
		</div>

	</div>

		
<script>
L.mapbox.accessToken = 'pk.eyJ1Ijoib3NjYXJ3MyIsImEiOiIxZDQ4MTE2NGFlYWJjNTY1ODZhMWJmNzQ3OTUwZGE4MyJ9.tlyn20Cn-ecT9wwQYHtpzA';
var map = L.mapbox.map('map', 'mapbox.streets')
    .setView([40, -74.50], 9);
</script>


		

